data/*
config.py
__pycache__/
*.pyc
clustering.log
memlog*
cleanup_levante.sh
figures/*
*.ipynb
notebooks/*.wav
notebooks/*.mp4
notebooks/seismic_to_video
.eidatoken
anaconda_projects
notebooks/anaconda_project
debug.log
